@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Squada+One&family=Ubuntu:wght@700&display=swap');

@media screen and (max-width: 1450px) {
    /* For laptop screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 1rem;
    }

    .inProgressText {
        background: linear-gradient(to right, purple, crimson);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        transition: transform 1000ms;
    }

    .inProgressText:hover {
        transform: translateY(-50px);
        transition: transform 450ms;
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }

    .socialIcon {
        width: 2rem;
        border-radius: 7px;
        background: #f089ce;
        padding: 0.2rem;
        box-shadow:  -5px 5px 10px #ff1ab3,
                    5px -5px 10px #ffb3e6;
    }

    .socialIcon:hover {
        background: linear-gradient(225deg, #e987c8, #e070ba);
    }
}

@media screen and (max-width: 550px) {
    /* For mobile screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 0.8rem;
    }

    .inProgressText {
        background: linear-gradient(to right, purple, crimson);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        transition: transform 1000ms;
    }

    .inProgressText:focus {
        transform: translateY(-50px);
        transition: transform 450ms;
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 20px;
    }

    .socialIcon {
        width: 1.7rem;
    }
}

@media screen and (max-width: 360px) {
    /* For mobile screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 0.6rem;
    }

    .inProgressText {
        background: linear-gradient(to right, purple, crimson);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        transition: transform 1000ms;
    }

    .inProgressText:focus {
        transform: translateY(-50px);
        transition: transform 450ms;
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }

    .socialIcon {
        width: 1.5rem;
    }
}
