@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Squada+One&family=Ubuntu:wght@700&display=swap');

.inProgressDiv {
    font-family: 'Secular One';
    letter-spacing: 2.5%;
}

.commentContainer {
    font-size: 1rem;
}

.inProgressText {
    font-size: 5rem;
    border-radius: 40px;
    background: #0a192f;
    box-shadow:  -10px 10px 20px #091528,
                    10px -10px 20px #0c1d36;
}

.commentContainer {
    width: max-content;
    padding: 0.7rem;
    border-radius: 10px;
    background: #0a192f;
    box-shadow:  -5px 5px 10px #091528,
                5px -5px 10px #0c1d36; 
}

.socialDiv {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.socialIcon {
    width: 2rem;
    border-radius: 10px;
    background: #0a192f;
    padding: 0.2rem;
    box-shadow:  -5px 5px 10px #091528,
                5px -5px 10px #0c1d36;
}

.socialIcon:hover {
    background: linear-gradient(225deg, #0c1d36, #091528);
}


@media screen and (max-width: 1450px) {
    /* For laptop screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 1rem;
    }

    .inProgressText {
        font-size: 5rem;
        border-radius: 40px;
        background: #0a192f;
        box-shadow:  -10px 10px 20px #091528,
                        10px -10px 20px #0c1d36;
    }

    .commentContainer {
        width: max-content;
        padding: 0.7rem;
        border-radius: 10px;
        background: #0a192f;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36; 
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 30px;
    }

    .socialIcon {
        width: 2rem;
        border-radius: 10px;
        background: #0a192f;
        padding: 0.2rem;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36;
    }

    .socialIcon:hover {
        background: linear-gradient(225deg, #0c1d36, #091528);
    }
}

@media screen and (max-width: 550px) {
    /* For mobile screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 0.8rem;
    }

    .inProgressText {
        font-size: 3rem;
        border-radius: 40px;
        background: #0a192f;
        box-shadow:  -10px 10px 20px #091528,
                        10px -10px 20px #0c1d36;
    }

    .commentContainer {
        width: max-content;
        padding: 0.7rem;
        border-radius: 10px;
        background: #0a192f;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36; 
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 20px;
    }

    .socialIcon {
        width: 1.7rem;
        border-radius: 10px;
        background: #0a192f;
        padding: 0.2rem;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36;
    }

    .socialIcon:hover {
        background: linear-gradient(225deg, #0c1d36, #091528);
    }
}

@media screen and (max-width: 360px) {
    /* For mobile screens */
    .inProgressDiv {
        font-family: 'Secular One';
        letter-spacing: 2.5%;
    }

    .commentContainer {
        font-size: 0.6rem;
    }

    .inProgressText {
        font-size: 2rem;
        border-radius: 40px;
        background: #0a192f;
        box-shadow:  -10px 10px 20px #091528,
                        10px -10px 20px #0c1d36;
    }

    .commentContainer {
        width: max-content;
        padding: 0.7rem;
        border-radius: 10px;
        background: #0a192f;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36; 
    }

    .socialDiv {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }

    .socialIcon {
        width: 1.5rem;
        border-radius: 10px;
        background: #0a192f;
        padding: 0.2rem;
        box-shadow:  -5px 5px 10px #091528,
                    5px -5px 10px #0c1d36;
    }

    .socialIcon:hover {
        background: linear-gradient(225deg, #0c1d36, #091528);
    }
}
