@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Squada+One&family=Ubuntu:wght@700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    background: radial-gradient(at top left, #0a192f, #0b2242);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoDiv {
    width:75%;
    height: 40vh;
    border-radius: 20px;
    background-color: yellowgreen;
    margin-bottom: 1rem;
    text-align: left;
    font-family: Poppins;   
    font-size: 1.8rem;
    padding: 2rem;
}

.infoDiv span {
    font-weight: 900;
    color: red;
}

.infoDiv .content {
    margin-bottom: 4rem;
}

.imgDiv {
    width:75%;
    height: 30vh;
    border-radius: 20px;
    font-size: 30px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}