@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Squada+One&family=Ubuntu:wght@700&display=swap');

html,body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.pages {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: radial-gradient(at top left,#0d2951 , #0a192f);
}